@font-face {
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Nunito/Nunito-Regular.woff2') format('woff2');
    font-family: 'Nunito';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Nunito/Nunito-Bold.woff2') format('woff2');
    font-family: 'Nunito';
    font-display: swap;
}
