---
import DataList from "@components/DataList/DataList.astro";

interface Props {
    endpoint: string;
}

const { endpoint } = Astro.props;
---

<div class="data-list-block">
    <DataList endpoint="/api/blog/" />
</div>

<style>
    .data-list-block {
        padding: 3.236rem 2rem;
        border: 1px solid #1b263b;
        margin: -1px;
    }
</style>
