---
import type { HeroBlockFragment } from "@generated/datocms";
import { Image } from "@datocms/astro"
import { Button } from "@components";

type Props = {
  block: HeroBlockFragment;
};

const { block } = Astro.props;
---

<section class="hero-block">
    <div class="hero-block__visual"></div>
    <div class="hero-block__content">
        <div class="hero-block-actions">
            <Image
            pictureClass="hero-block-picture"
            data={block.image?.responsiveImage}
            priority={true}
            srcSetCandidates={[0.05, 0.1]}
            />

            <Button
            as="a"
            icon="github"
            variant="secondary"
            iconOnly
            round
            href="https://github.com/luukbrauckmann"
            prefetch={false}
            >See my GitHub profile</Button>
        </div>
        <h1>{ block.title }</h1>
        <p>{ block.description }</p>
    </div>
</section>

<style>
    .hero-block {
        --image-size: 150px;
        border: 1px solid oklch(0.269 0.042 263);
        border-block-start-color: transparent;
        margin: -1px -1px 0px -1px;
        position: relative;
    }

    .hero-block__visual {
      height: var(--image-size);
    }

    :global(.hero-block-picture) {
        width: var(--image-size);
        height: var(--image-size);
        object-fit: cover;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .hero-block__content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        background-color: oklch(0.269 0.042 263);
        padding:  var(--spacing-lg)  var(--spacing-lg) var(--spacing-xxl) var(--spacing-lg);
    }

    .hero-block-actions {
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding-inline-start: calc(var(--image-size) + var(--spacing-lg));

    }

    .hero-block__content h1 {
        font-size: var(--text-size-3xl);
    }
</style>
