---
import Pill from "@components/Pill/Pill.astro";
import { Image } from "@datocms/astro";
const { block } = Astro.props;
---

<div class="hero-block">
  <div class="hero-block-visual">
    <Image
      pictureClass="hero-block-visual__image"
      data={block.image.responsiveImage}
      priority={true}
      srcSetCandidates={[0.05]}
    />
  </div>
  <div class="hero-block-content">
    <h1>{block.title}</h1>

    <ul class="github-statistics">
      <li>
        <Pill class="github-statistic--commits" icon="code-commit"
          >1k+ Commits</Pill
        >
      </li>
      <li>
        <Pill class="github-statistic--pull-requests" icon="code-pull-request"
          >472 Pull Requests</Pill
        >
      </li>
      <li>
        <Pill class="github-statistic--reviews" icon="check">283 Reviews</Pill>
      </li>
    </ul>

    <p>{block.description}</p>
  </div>
</div>

<style>
  .hero-block {
    --visual-size: 150px;
    margin: 0px -1px -1px -1px;
    border: 1px solid #1b263b;
  }

  .hero-block-visual {
    position: relative;
    height: var(--visual-size);
  }

  :global(.hero-block-visual__image) {
    position: absolute;
    bottom: 0px;
    left: var(--step-2);
    transform: translateY(50%);
    width: var(--visual-size);
    height: var(--visual-size);
    object-fit: cover;
    object-position: center;
  }

  .hero-block-content {
    display: flex;
    flex-direction: column;
    background-color: #1b263b;
    padding: calc((var(--visual-size) / 2) + var(--step-1)) var(--step-2)
      var(--step-3);
  }

  .hero-block-content h1 {
    margin-block-end: var(--step--2);
    font-size: var(--step-2);
  }

  .github-statistics {
    display: flex;
    flex-wrap: wrap;
    gap: var(--step--2);
    margin: 0px;
    margin-block-end: var(--step-1);
    padding: 0px;
    list-style-type: "";
  }

  .github-statistic--commits :global(.icon) {
    fill: #f5f5f2;
  }

  .github-statistic--pull-requests :global(.icon) {
    fill: #009dff;
  }

  .github-statistic--reviews :global(.icon) {
    fill: #1ea47d;
  }
</style>
