---
import { Image } from '@datocms/astro';

type Props = {
  block: any;
};

const { block } = Astro.props;
---

<div class="hero-block">
  <div class="hero-block__visual"></div>
  <div class="hero-block-content">
    <Image
      pictureClass="hero-block-content__image"
      data={block.image.responsiveImage}
      priority={true}
      srcSetCandidates={[0.05, 0.075]}
    />
    <h1>{block.title}</h1>
    <p>{block.description}</p>
  </div>
</div>

<style>
  .hero-block {
    --visual-size: 150px;
    margin: -1px;
    border: 1px solid #1b263b;
  }

  @media (min-width: 600px) {
    .hero-block {
      --visual-size: 200px;
    }
  }

  .hero-block__visual {
    height: var(--visual-size);
  }

  .hero-block-content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-lg);
    background: #1b263b;
    padding: var(--spacing-section);
    padding-block-start: calc(var(--spacing-lg) + (var(--visual-size) / 2));
  }

  :global(.hero-block-content__image) {
    position: absolute;
    top: 0px;
    left: var(--spacing-section-inline);
    transform: translateY(-50%);
    width: var(--visual-size);
    height: var(--visual-size);
    object-fit: cover;
    object-position: center;
  }

  h1 {
    font-size: var(--font-size-lg);
  }
</style>
