---
import type { HeroBlockFragment } from "@datocms/types";

type Props = {
  block: HeroBlockFragment;
};

const { block } = Astro.props;
---

<section class="hero-block">
    <h1>{ block.title }</h1>
</section>

<style>
    .hero-block {
        padding: 82px 31px;
        border: 1px solid oklch(0.46 0.056 253);
        margin: -1px;
    }
</style>
