---
import { Icon } from '@components';
import type { IconName } from '@generated/icon-sprite';
import type { Polymorphic } from 'astro/types';

type Props<Tag extends 'button' | 'a'> = Polymorphic<{
  as: Tag;
  variant?: 'primary' | 'secondary' | 'transparent' | 'link';
  icon?: IconName;
  iconOnly?: boolean;
}>;

const {
  as: Tag = 'button',
  variant = 'primary',
  icon,
  iconOnly,
  ...props
} = Astro.props;
---

<Tag
  class:list={[
    'button',
    `button--${variant}`,
    { 'button--icon-only': iconOnly }
  ]}
  {...props}
>
  {icon && <Icon class="button__icon" name={icon} />}
  <span class:list={['button__label', { 'sr-only': iconOnly }]}><slot /></span>
</Tag>

<style>
  .button {
    display: inline-flex;
    align-items: center;
    gap: 1ch;
    cursor: pointer;
    padding: var(--spacing-md) var(--spacing-lg);
    color: currentColor;
    line-height: 1;
    text-decoration: none;
  }

  .button--primary {
    border: 1px solid #0070cc;
    background-color: #0070cc;
  }

  .button--secondary {
    border: 1px solid #4a5568;
    background-color: #4a5568;
  }

  .button--transparent {
    border: 1px solid transparent;
    background-color: transparent;
  }

  .button--transparent:hover {
    border: 1px solid #152b44;
    background-color: #152b44;
  }

  .button--link {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0px;
  }

  .button--icon-only {
    padding: var(--step--1);
  }

  .button__label {
    font-weight: 700;
    white-space: nowrap;
  }
</style>
