---
import type { Polymorphic } from "astro/types";
import type { IconName } from "@generated/icons-sprite";
import { Icon } from "@components";

type Props<Tag extends "button" | "a"> = Polymorphic<{
  as: Tag;
  variant?: "primary" | "secondary" | "transparent" | "link";
  icon?: IconName;
  iconOnly?: boolean;
  round?: boolean;
}>;

const {
  as: Tag = "button",
  variant,
  icon,
  iconOnly,
  round,
  ...props
} = Astro.props;
---

<Tag
  class:list={[
    "button",
    `button--${variant}`,
    { "button--icon-only": iconOnly },
    { "button--round": round }
  ]}
  {...props}
>
  {icon && <Icon class="button__icon" name={icon} />}
  <span class:list={["button__label", { "sr-only": iconOnly }]}>
      <slot />
  </span>
</Tag>

<style>
    .button {
        padding: var(--spacing-sm) var(--spacing-md);
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-xs);
        font-weight: bold;
        border: 1px solid;
        transition: all 0.1618s;
        cursor: pointer;
    }

    .button--icon-only {
        padding: var(--spacing-sm);
    }

    .button--icon-only .button__icon {
        padding: 4px;
        width: 24px;
        height: 24px;
    }

    .button--round {
        border-radius: 50%;
    }

    .button,
    .button--primary {
        background-color: oklch(0.680 0.179 247);
        border-color: oklch(0.680 0.179 247);
        color: #000000;
    }

    .button:hover,
    .button--primary:hover {
        background-color: #007ACC;
        border-color: #007ACC;
        color: #ffffff;
    }


    .button--secondary {
        background-color: oklch(0.937 0.015 270);
        border-color: oklch(0.937 0.015 270);
        color: #000000;
    }

    .button--secondary:hover {
        background-color: oklch(0.937 0.015 270);
        border-color: oklch(0.937 0.015 270);
        color: #000000;
    }

    .button--transparent {
        background-color: transparent;
        border-color: transparent;
        color: #ffffff;
    }

    .button--transparent:hover {
        background-color: oklch(0.269 0.042 263);
        border-color: oklch(0.269 0.042 263);
        color: #ffffff;
    }
</style>
