:root {
    --color-brand-primary-default: oklch(0.680 0.179 247);
    --color-brand-secondary-default: oklch(0.937 0.015 270);
    --color-semantic-danger-default: oklch(0.689 0.200 25);
    --color-semantic-warning-default: oklch(0.828 0.152 76);
    --color-semantic-success-default: oklch(0.641 0.124 167);
    --color-semantic-info-default: oklch(0.638 0.197 359);

    --button-primary-background-default: var(--color-brand-primary-default);
    --button-primary-border-color-default: var(--color-brand-primary-default);

    --button-secondary-background-default: var(--color-brand-secondary-default);
    --button-secondary-border-color-default: var(--color-brand-secondary-default);

    --button-success-background-default: var(--color-semantic-success-default);
    --button-success-border-color-default: var(--color-semantic-success-default);

    --button-danger-background-default: var(--color-semantic-danger-default);
    --button-danger-border-color-default: var(--color-semantic-danger-default);

    --button-warning-background-default: var(--color-semantic-warning-default);
    --button-warning-border-color-default: var(--color-semantic-warning-default);

    --button-info-background-default: var(--color-semantic-info-default);
    --button-info-border-color-default: var(--color-semantic-info-default);

    --size-xxs: clamp(0.2361rem, 0.1686rem + 0.3373vw, 0.2951rem);
    --size-xs: clamp(0.382rem, 0.2728rem + 0.5457vw, 0.4775rem);
    --size-sm: clamp(0.618rem, 0.4415rem + 0.8829vw, 0.7726rem);
    --size-md: clamp(1rem, 0.7143rem + 1.4286vw, 1.25rem);
    --size-lg: clamp(1.618rem, 1.1557rem + 2.3114vw, 2.0225rem);
    --size-xl: clamp(2.6179rem, 1.8699rem + 3.7399vw, 3.2724rem);
    --size-xxl: clamp(4.2358rem, 3.0256rem + 6.0511vw, 5.2948rem);

    --font-size-xs: var(--size-xs);
    --font-size-sm: var(--size-sm);
    --font-size-md: var(--size-md);
    --font-size-lg: var(--size-lg);
    --font-size-xl: var(--size-xl);
    --font-size-2xl: var(--size-xl);
    --font-size-3xl: var(--size-xxl);

    --spacing-xss: calc(var(--size-xxs) * 1.618);
    --spacing-xs: calc(var(--size-xs) * 1.618);
    --spacing-sm: calc(var(--size-sm) * 1.618);
    --spacing-md: calc(var(--size-md) * 1.618);
    --spacing-lg: calc(var(--size-lg) * 1.618);
    --spacing-xl: calc(var(--size-xl) * 1.618);
    --spacing-xxl: calc(var(--size-xxl) * 1.618);
}
