:root {
    --color-brand-primary-default: oklch(0.680 0.179 247);
    --color-brand-secondary-default: oklch(0.937 0.015 270);
    --color-semantic-danger-default: oklch(0.689 0.200 25);
    --color-semantic-warning-default: oklch(0.828 0.152 76);
    --color-semantic-success-default: oklch(0.641 0.124 167);
    --color-semantic-info-default: oklch(0.638 0.197 359);

    --button-primary-background-default: var(--color-brand-primary-default);
    --button-primary-border-color-default: var(--color-brand-primary-default);

    --button-secondary-background-default: var(--color-brand-secondary-default);
    --button-secondary-border-color-default: var(--color-brand-secondary-default);

    --button-success-background-default: var(--color-semantic-success-default);
    --button-success-border-color-default: var(--color-semantic-success-default);

    --button-danger-background-default: var(--color-semantic-danger-default);
    --button-danger-border-color-default: var(--color-semantic-danger-default);

    --button-warning-background-default: var(--color-semantic-warning-default);
    --button-warning-border-color-default: var(--color-semantic-warning-default);

    --button-info-background-default: var(--color-semantic-info-default);
    --button-info-border-color-default: var(--color-semantic-info-default);

    --text-size-sm: clamp(0.7956rem, 0.8029rem + -0.0146vw, 0.8rem);
    --text-size-md: clamp(1rem, 0.9167rem + 0.4167vw, 1.125rem);
    --text-size-lg: clamp(1.25rem, 1.0228rem + 1.1358vw, 1.5908rem);
    --text-size-xl: clamp(1.5625rem, 1.1046rem + 2.2894vw, 2.2493rem);
    --text-size-2xl: clamp(1.9531rem, 1.1348rem + 4.0914vw, 3.1805rem);
    --text-size-3xl: clamp(2.4414rem, 1.0708rem + 6.8529vw, 4.4973rem);
    --text-size-4xl:  clamp(3.0518rem, 0.8468rem + 11.0247vw, 6.3592rem);

    --spacing-xss: clamp(0.2865rem, 0.2228rem + 0.3183vw, 0.382rem);
    --spacing-xs: clamp(0.4635rem, 0.3605rem + 0.515vw, 0.618rem);
    --spacing-sm: clamp(0.75rem, 0.5833rem + 0.8333vw, 1rem);
    --spacing-md: clamp(1.2135rem, 0.9438rem + 1.3483vw, 1.618rem);
    --spacing-lg: clamp(1.9634rem, 1.5271rem + 2.1816vw, 2.6179rem);
    --spacing-xl: clamp(3.1769rem, 2.4709rem + 3.5298vw, 4.2358rem);
    --spacing-xxl: clamp(5.1401rem, 3.9979rem + 5.7113vw, 6.8535rem);
}
