@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Extralight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash';
  src: url('/fonts/Dash/DashCasualL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideHairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideThin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideExtralight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Semiwide';
  src: url('/fonts/Dash/DashCasualL-SemiwideBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideHairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideThin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideExtralight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dash Wide';
  src: url('/fonts/Dash/DashCasualL-WideBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
    font-size: var(--text-size-md);
}

body {
  font-family: 'Nunito', system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dash', 'Nunito', system-ui, sans-serif;
  font-weight: 500;
}

h1 {
    font-size: var(--text-size-4xl);
}

h2 {
    font-size: var(--text-size-3xl);
}

h3 {
    font-size: var(--text-size-2xl);
}

h4 {
    font-size: var(--text-size-xl);
}

h5 {
    font-size: var(--text-size-lg);
}

h6 {
    font-size: var(--text-size-md);
}
