html {
    font-size: var(--text-size-md);
}

body {
  font-family: var(--font-nunito);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-dash);
  font-weight: 500;
}

h1 {
    font-size: var(--text-size-4xl);
}

h2 {
    font-size: var(--text-size-3xl);
}

h3 {
    font-size: var(--text-size-2xl);
}

h4 {
    font-size: var(--text-size-xl);
}

h5 {
    font-size: var(--text-size-lg);
}

h6 {
    font-size: var(--text-size-md);
}
