---
import { locales } from "@lib/site.json";
import Button from "@components/Button/Button.astro";

const { locale } = Astro.params;
const { localizedPaths } = Astro.props;

const pathsMap = Object.fromEntries(
  localizedPaths.map(({ locale, value }) => [locale, value])
);

const filteredLocalizedPaths = locales
  .filter((localeItem) => localeItem !== locale)
  .map((localeItem) => ({
    locale: localeItem,
    value: `/${localeItem}/` + (pathsMap[localeItem] && `${pathsMap[localeItem]}/`),
  }));
---

{
  filteredLocalizedPaths.map(({ locale, value }) => (
    <Button as="a" variant="transparent" href={value}>
      {locale}
    </Button>
  ))
}
