---
import { locales } from ".astro/site.json";
import Button from "@components/Button/Button.astro";

const { locale } = Astro.params;
const { localizedPaths } = Astro.props;
---

{
    locales.map((localeItem) => (
        <>
            {localeItem !== locale && (
                <Button
                    as="a"
                    variant="transparent"
                    href={localizedPaths[localeItem]}
                >
                    {localeItem}
                </Button>
            )}
        </>
    ))
}
