---
import type { ComponentProps } from "astro/types";
import { StructuredText as DatocmsStructuredText } from "@datocms/astro";

type Props = ComponentProps<typeof DatocmsStructuredText>;

const { ...props } = Astro.props;
---

<div class="structured-text">
    <DatocmsStructuredText {...props}></DatocmsStructuredText>
</div>

<style>
    .structured-text :global(p) {
        margin-block: var(--spacing-md);
    }
</style>
