---
import { StructuredText } from "@datocms/astro";
import ActionBlock from "../ActionBlock/ActionBlock.astro";

const { block } = Astro.props;
---
<div class="text-block">
    <StructuredText
        blockComponents={{
          'ActionBlockRecord': ActionBlock
        }}
        data={block.text}
    />
</div>

<style>
    .text-block {
        padding-inline: var(--step-2);
    }

    :global(.text-block h1),
    :global(.text-block h2),
    :global(.text-block h3),
    :global(.text-block h4),
    :global(.text-block h5),
    :global(.text-block h6),
    :global(.text-block p) {
        margin-block-start: 1em;
    }

    :global(.text-block .action-block) {
        margin-block-start: var(--step-0);
    }
</style>
