---
import { Button, DecoratedText, StructuredText } from '@components';

const { title, content } = Astro.props;
---

<section class="call-to-action">
  <header class="call-to-action__header">
    <DecoratedText as="h2">{title}</DecoratedText>
  </header>

  <StructuredText data={content} />

  <footer class="call-to-action__footer">
    <Button as="a" href="mailto:info@luuk.network" icon="envelope"
      >info@luuk.network</Button
    >
  </footer>
</section>

<style>
  .call-to-action {
    position: relative;
    margin: 0px -1px -1px -1px;
    border: 1px solid #1b263b;
    padding: var(--spacing-xxl) var(--spacing-xl);
  }

  .call-to-action__header {
    /* position: absolute;
    top: 0px;
    transform: translateY(-70%); */
    margin-block-end: var(--spacing-xl);
  }

  .call-to-action__footer {
    margin-block-start: var(--spacing-xl);
  }
</style>
