---
import LinkBlock from '../LinkBlock/LinkBlock.astro';
import { DecoratedText, StructuredText } from '@components';

type Props = {
  block: any;
};

const { block } = Astro.props;
---

<section class="section-block">
  <header class="section-block__header">
    <DecoratedText as="h2">{block.title}</DecoratedText>
  </header>

  <StructuredText data={block.content} />

  <footer class="section-block-footer">
    {block.links.map((link) => <LinkBlock block={link} />)}
  </footer>
</section>

<style>
  .section-block {
    position: relative;
    margin: 0px -1px -1px -1px;
    border: 1px solid #1b263b;
    padding: var(--spacing-xxl) var(--spacing-xl);
  }

  .section-block .section-block {
    padding: 0;
  }

  .section-block__header {
    /* position: absolute;
    top: 0px;
    transform: translateY(-70%); */
    margin-block-end: var(--spacing-xl);
  }

  .section-block-footer {
    display: flex;
    margin-block-start: var(--spacing-xl);
  }
</style>
