---
import { StructuredText } from "@datocms/astro";
const { title, body } = Astro.props;
---

<section class="section-block">
  <header class="section-block-header">
    <h2>{title}</h2>
  </header>

  <StructuredText data={body[0].text} />
</section>

<style>
  .section-block {
    padding: var(--step-2) var(--step-1);
  }

  .section-block-header {
    margin-block-end: var(--step-1);
  }
</style>
