---
import type { SectionBlockFragment } from "@generated/datocms";
import { DecoratedText, StructuredText } from "@components";
import LinkBlock from "@components/Blocks/LinkBlock/LinkBlock.astro";

type Props = {
  block: SectionBlockFragment;
};

const { block } = Astro.props;
---

<section class="section-block">
    <h2 class="section-block__title">{ block.title }</h2>

    <StructuredText data={block.content}></StructuredText>

    { block.links.map((link) => (
        <LinkBlock block={link} />
    ))}
</section>

<style>
    .section-block {
        padding:  var(--spacing-xxl) var(--spacing-lg);
        border: 1px solid oklch(0.269 0.042 263);
        margin: -1px;
    }
</style>
