---
import Logo from "@components/Logo/Logo.astro";
import Button from "@components/Button/Button.astro";
import LocaleSwitcher from "@components/LocaleSwitcher/LocaleSwitcher.astro";

const { localizedPaths } = Astro.props;
---

<header class="header">
  <a href="/">
    <Logo />
  </a>

  <div>
    <Button
      as="a"
      variant="transparent"
      icon="github"
      iconOnly={true}
      href="https://github.com/luukbrauckmann/luuk.network"
      target="_blank">GitHub</Button
    >
    <LocaleSwitcher {localizedPaths} />
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header > div {
    display: flex;
  }
</style>
