---
import { Logo, Menu } from '@components';

const { locale } = Astro.params;
const { menuItems } = Astro.props;
---

<header>
  <a class="home-link" href={`/${locale}/`}>
    <span class="sr-only">Luuk Brauckmann</span>
    <Logo />
  </a>

  <Menu items={menuItems} />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    z-index: 101;
    margin: -1px;
    border: 1px solid #1b263b;
    background: #001523;
  }

  .home-link {
    border: 1px solid transparent;
    padding: var(--spacing-sm) var(--spacing-lg);
  }

  .home-link:hover {
    border: 1px solid #152b44;
    background-color: #152b44;
  }
</style>
