---
import type { HTMLAttributes } from "astro/types";
import { LocaleSelector, Logo } from "@components";

type Props = HTMLAttributes<'header'>;

const { ...props } = Astro.props;
---

<header { ...props }>
    <a class="home-link" href="/" data-astro-prefetch>
        <Logo/>
        <span class="sr-only">Luuk Brauckmann</span>
    </a>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        border: 1px solid oklch(0.269 0.042 263);
        margin: -1px -1px 0px -1px;
    }

    .home-link {
        padding: var(--spacing-xs);
        display: inline-block;
    }
</style>
