---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
}>;

const { as: Tag, class: className, ...props } = Astro.props;
---

<div class="decorated-text">
  <Tag class:list={["decorated-text__text", className]} {...props}>
    <slot />
  </Tag>
</div>

<style>
  .decorated-text {
    --background-color: #415a77;
    --offset-x: 0.2em;
    --offset-y: 0.35em;
  }

  .decorated-text__text {
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-image: linear-gradient(
      var(--background-color),
      var(--background-color)
    );
    background-position: calc(var(--offset-x) * -1) var(--offset-y);
    background-repeat: no-repeat;
    padding-left: var(--offset-x);
  }
</style>
