---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'footer'>;

const { ...props } = Astro.props;
---

<footer { ...props }>
    <p class="copyright-notice">© 2025 Luuk Brauckmann.&nbsp;<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
</footer>

<style>
    footer {
        background-color: oklch(0.46 0.056 253);
        border: 1px solid  oklch(0.46 0.056 253);
        margin: 0px -1px -1px -1px;
        padding: var(--spacing-xxl) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);
    }

    .copyright-notice {
        font-size: var(--text-size-sm);
        text-align: center;
    }

    a {
        color: #FFD166;
    }
</style>
