---
import { Button } from "@components";

const locales = ["en", "nl"];

const { locale: localeParam } = Astro.params;
---

<ul class="locale-selector">
  {
    locales
      .filter((locale) => locale !== localeParam)
      .map((locale) => (
        <li>
          <Button
            as="a"
            href={`/${locale}/`}
            variant="transparent"
            icon={locale}
            iconOnly={true}
          >
            {locale}
          </Button>
        </li>
      ))
  }
</ul>

<style>
  .locale-selector {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: "";
  }
</style>
