---
import { Button } from "@components"
---

<Button class="menu-open-button" icon="bars">Menu</Button>

<style>
    .menu-open-button {
        position: fixed;
        right: var(--spacing-lg);
        bottom: var(--spacing-lg);
    }
</style>
