---
import { Button } from "@components";

type Props = {
  items: Array<{
    title: string;
    page: {
      path: string;
    };
  }>;
};

const { items } = Astro.props;
const { pathname } = Astro.url;
const { locale } = Astro.params;

function getHref(page: Props["items"][0]["page"]) {
  return `/${locale}/${page.path}${page.path && "/"}`;
}
---

<nav>
  <ul>
    {
      items.map(({ title, page }) => (
        <li>
          <Button
            as="a"
            href={getHref(page)}
            aria-current={pathname === getHref(page) && "page"}
            variant="transparent"
          >
            {title}
          </Button>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: "";
  }
</style>
