:root {
  background: #0d1b2a;
  color-scheme: dark;
}

.border {
  margin: 0px -1px -1px -1px;
  border: 1px solid #1b263b;
}

a {
  color: #009ee0;
}

a:hover,
a:focus {
  color: #c2edff;
}

.bg-elevated {
  margin: 0px -1px -1px -1px;
  border: 1px solid #415a77;
  background-color: #415a77;
}

.bg-elevated a {
  color: #83b81a;
}

.bg-elevated a:hover,
.bg-elevated a:focus {
  color: #a5d432;
}
