---
import type { LinkBlockFragment } from "@generated/datocms-types";
import { Button } from "@components";

type Props = {
  block: LinkBlockFragment;
};

const { block } = Astro.props;
---

<Button as="a" icon={block.icon.name} href={block.page.path}>{block.label} - {block.page.title}</Button>
