<footer>
    <p class="copyright-notice">© 2025 Luuk Brauckmann. <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></p>
</footer>

<style>
    footer {
        background-color: oklch(0.46 0.056 253);
        padding: var(--spacing-xxl) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);
    }

    .copyright-notice {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    a {
        color: #FFD166;
    }
</style>
