<footer>
  <p class="copyright-notice">
    &copy; 2025 Luuk Brauckmann.
    <a
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      target="_blank"
      rel="license noopener noreferrer">CC BY-SA 4.0</a
    >
  </p>
</footer>

<style>
  footer {
    margin: 0px -1px -1px -1px;
    border: 1px solid #415a77;
    background-color: #415a77;
    padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-md);
  }

  a {
    color: #FFD166;
  }

  .copyright-notice {
    font-size: var(--font-size-sm);
    text-align: center;
  }
</style>
