<footer class="bg-elevated">
  <p class="copyright-notice">
    Copyright &copy; 2025 Luuk Brauckmann. Some rights reserved.<br />
    This work is licensed under a
    <a
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      target="_blank"
      rel="license noopener noreferrer"
    >
      Creative Commons Attribution-ShareAlike 4.0 International License
    </a>.
  </p>
</footer>

<style>
  footer {
    padding: var(--step-2) var(--step-1) var(--step--1) var(--step-1);
  }

  .copyright-notice {
    font-size: var(--step--2);
    text-align: center;
  }
</style>
