---
import type { SiteLocale } from "@datocms/types";
import { DyslexicSwitch, IconsSprite, LocaleSelector } from "@components";

import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/typography.css";
import { Seo, type SeoOrFaviconTag } from "@datocms/astro";

type Props = {
  locale: SiteLocale;
  seo: SeoOrFaviconTag[];
};

const { locale, seo } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Seo data={seo} />

    <link rel="preload" href="/fonts/Nunito/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin />
  </head>
  <body>
      <div class="content-wrapper">
        <header>
            <DyslexicSwitch />
            <LocaleSelector />
        </header>

        <main>
            <slot />
        </main>
      </div>

    <IconsSprite />
  </body>
</html>

<style>
    body {
        padding: 12px;
        min-height: 100dvh;
        display: flex;
    }

    .content-wrapper {
        max-width: 75ch;
        margin-inline: auto;
        border: 1px solid oklch(0.46 0.056 253);
        flex: 1;
    }

    header {
        display: flex;
        justify-content: end;
        align-items: center;
    }
</style>
