---
import type { SiteLocale } from "@generated/datocms";
import { Footer, Header, IconsSprite } from "@components";

import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/tokens.css";
import "@styles/typography.css";
import { Seo, type SeoTitleTag, type SeoOrFaviconTag } from "@datocms/astro";

type Props = {
  locale: SiteLocale;
  seo: SeoOrFaviconTag[];
};

const { locale, seo } = Astro.props;
const title = seo.shift() as SeoTitleTag;
---

<html lang={locale}>
  <head>
    <!-- Character encoding -->
    <meta charset="utf-8" />
    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSP headers -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Page title -->
    <title>{title.content}</title>
    <!-- Preconnect -->
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <!-- Asynchronous JS -->
    <!-- CSS that includes @import -->
    <!-- Synchronous JS -->
    <!-- Synchronous CSS -->
    <!-- Preloads -->
    <link rel="preload" href="/fonts/Nunito/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Nunito/Nunito-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Dash/DashCasualL-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <!-- Prefetch & Prerender -->
    <!-- Everything else (meta tags, icons, open graphs, etc.) -->
    <Seo data={seo} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
      <div class="content-wrapper">
        <Header class="header" />
        <!-- <Menu /> -->

        <main>
            <slot />
        </main>

        <Footer class="footer" />
      </div>

    <IconsSprite />
  </body>
</html>

<style>
    body {
        min-height: 100dvh;
        display: grid;
        grid-template-columns:
          [full-start] 1fr [main-start] minmax(0px, 600px)
          [main-end] 1fr [full-end];
    }

    @media screen and (min-width: 500px) {
        body {
            padding: var(--spacing-sm);
        }
    }

    .content-wrapper {
        grid-column: main;
        border: 1px solid oklch(0.269 0.042 263);
        display: grid;
        grid-template-rows: auto 1fr auto;
        position: relative;
    }
</style>
