---
import type { SiteLocale } from "@datocms/types";
import { IconsSprite, LocaleSelector } from "@components";

import "@styles/a11y.css";
import "@styles/reset.css";
import "@styles/theme.css";
import "@styles/typography.css";

type Props = {
  locale: SiteLocale;
};

const { locale } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <header>
        <LocaleSelector />
    </header>

    <slot />

    <IconsSprite />
  </body>
</html>

<style>
    header {
        display: flex;
        justify-content: end;
    }
</style>
