---
import type { GetStaticPaths } from "astro";
import { executeQuery } from "@datocms/execute-query";
import { Base } from "@layouts";
import { parse } from "graphql/language/parser";

export const getStaticPaths: GetStaticPaths = async () => {
  const { allPages } = await executeQuery<any, any>(
    parse(`
      query {
        allPages {
          _allPathLocales {
            locale
            value
          }
        }
      }
    `),
    {}
  );

  return allPages.flatMap((item: any) =>
    item._allPathLocales.map(({ locale, value }: any) => ({
      params: {
        locale,
        ...(value && { path: value })
      }
    }))
  );
};

const { locale, path } = Astro.params;

const { page } = await executeQuery<any, any>(
  parse(`
    query Page($path: String = "", $locale: SiteLocale!) {
      page(filter: {path: {eq: $path}}, locale: $locale) {
        title
      }
    }
  `),
  { path, locale }
);
---

<Base locale={locale as "en" | "nl"}>
    <h1>Astro /{locale}/{path}</h1>

    <pre>{JSON.stringify(page, null, 2)}</pre>
</Base>
