---
import { SiteLocale, type PageQuery, type PageQueryVariables, type PathsQuery, type PathsQueryVariables } from "@datocms/types";
import { executeQuery } from "@datocms/execute-query";
import pathsQuery from "@datocms/paths.query.graphql";
import pageQuery from "./index.query.graphql";
import { Base } from "@layouts";

export const getStaticPaths = (async () => {
  const { allPages } = await executeQuery<PathsQuery, PathsQueryVariables>(pathsQuery);

  return allPages.flatMap((item) => {
    if (!item._allPathLocales) return [];

    return item._allPathLocales
      .map(({ locale, value }) => ({
        params: {
          locale: locale as SiteLocale,
          ...(value && { path: value })
        }
      }));
  });
});


const { locale, path } = Astro.params;
const { page } = await executeQuery<PageQuery, PageQueryVariables>(pageQuery, { path, locale });
---

<Base locale={locale}>
    <h1>Astro /{locale}/{path}</h1>
    <pre>{JSON.stringify(page, null, 2)}</pre>
</Base>
