name: Build and Deploy
on:
 push:
   branches: [ "*" ]
jobs:
 build-and-deploy:
   runs-on: ubuntu-latest
   steps:
   - uses: actions/checkout@v4

   - name: Get port for branch
     id: port
     uses: ./.github/actions/get-available-port
     with:
       app_id: ${{ secrets.APP_ID }}
       api_key: ${{ secrets.BUNNYNET_API_KEY }}

   - name: docker login
     uses: docker/login-action@v3
     with:
       registry: ghcr.io
       username: ${{ github.actor }}
       password: ${{ secrets.GITHUB_TOKEN }}

   - name: docker build and push
     uses: docker/build-push-action@v5
     with:
       context: .
       push: true
       tags: ghcr.io/${{ github.repository }}:${{ github.ref_name }}-${{ github.sha }}
       build-args: |
         PORT=${{ steps.port.outputs.port }}
       secrets: |
         datocms_token=${{ secrets.DATOCMS_TOKEN }}

   - name: create or update container
     uses: ./.github/actions/upsert-container
     with:
       app_id: ${{ secrets.APP_ID }}
       api_key: ${{ secrets.BUNNYNET_API_KEY }}
       container_name: ${{ github.ref_name }}
       image_tag: "${{ github.ref_name }}-${{ github.sha }}"
       port: ${{ steps.port.outputs.port }}
       environment_variables: |
         DATOCMS_TOKEN=${{ secrets.DATOCMS_TOKEN }}
